.header{
    padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  @media screen and (min-width: 768px) {
    padding-top: 14px;
    padding-bottom: 14px;
}
@media screen and (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 25px;
}
}
.header-button{
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color:transparent;
    border: none;
    & .icon-close {
        display: none;
    }
    &.is-open .icon-close{
        display: block;
    }
    &.is-open .icon-menu{
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
    
}
.icon-close:hover{
    fill: #2196F3;

}
.icon-menu:hover{
    fill: #2196F3;

}
.ul li:not(:last-child){
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
        margin-bottom: unset;
    }
}
.menu-container{
    z-index: 1;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    &.is-open{
        display: block;
    }
    @media screen and (min-width: 768px) {
        display: block;
        position: unset;
        z-index: unset;
    }
}
.navigations{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
        padding: unset;
        flex-direction: row;
        justify-content: space-between;
    }
}


.header .container{
  display: flex;
  justify-content: space-between;
    align-items: center;
}
.ul a{
    display: block;
    font-weight: 500;
        
    font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: $color-black;
text-decoration: none;
}
.ul{
    text-align: center;
    @media screen and (min-width: 768px) {
        display: flex;     
    }
    & li:not(:last-child){
        @media screen and (min-width: 768px) {
        margin-right: 50px;}
    }
}


.ul .currently{
color: $color-blue;

}
.ul a{
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus, &:hover{
        color: $color-blue;
    }
}

.address svg{
    margin-right: 10px;
    fill: currentColor;
    &:hover, &:focus{
        fill: currentColor;}
}


.address a{
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height:  1.14;
    letter-spacing: 0.02em;
    color: $color-gray;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    &:focus, &:hover{
        color: $color-blue;
    }
    }
   
        
        .ul .index{
            color: $color-blue;
        }
        .ul .portfo{
            color: $color-blue;    
        }
        
        
        .border{
            @media screen and (min-width: 768px) {
                position: relative;
            }
        
        &::after{
            display: inline-block;
            content: "";
            width: 48px;
            height: 4px;
            background: #2196F3;
            border-radius: 2px;
            @media screen and (min-width: 768px) {
                position: absolute;
                left: 0;
                top: 39px;
            }
        }
    }
        .portfo{

            @media screen and (min-width: 768px) {
                position: relative;
            }
        &::after{
            display: block;
            content: "";
            width: 77px;
            height: 4px;
            background: #2196F3;
            border-radius: 2px;
            margin-top: 8px;
            @media screen and (min-width: 768px) {
                margin-top: unset;
                position: absolute;
                left: 0;
                top: 39px;
            }}
        }
        
        
        nav{
            margin-bottom: 60px;
            @media screen and (min-width: 768px) {
                margin-bottom: unset;
            }
        }
        .address{
            display: contents;
        &-li{
        margin-bottom: 16px;
        @media screen and (min-width: 768px) {
        margin-bottom: 10px;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 30px;
            margin-bottom: unset;
            }
        }
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
        }
        @media screen and (min-width: 1200px) {
            flex-direction: row;
        }
        }
        .nav-a{
            @media screen and (min-width: 768px) {
                margin-right: 75px;
            }
            @media screen and (min-width: 1200px) {
                margin-right: 93px;
            }
        }
