.container .div-info{
    display: flex;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    }
    .info .container ul{
        justify-content: space-between;
        @media screen and (min-width: 768px) {
            // display: flex;
            // flex-wrap: wrap;  
            // margin-left: -30px;
            // margin-top: -30px;
          }
    }
    .info .container li{
        width: 100%;
    &:not(:last-child){
        margin-bottom: 30px;
    //     @media screen and (min-width: 768px) {
    //     margin-bottom: unset;
        
        }

    // }
    // @media screen and (min-width: 768px) {
    //     width: 354px;  
    //     margin-left: 30px;
    //     margin-top: 30px;
    // }
    }
    .info{
    padding-top: 60px;
    padding-bottom: 60px;
    }
    .container h3{
    margin-bottom: 10px;
    text-align: center;
    }
