.command{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    }
        .list{
        text-align: center;
        display: flex;
            justify-content: space-between;
        }
        
        .list h3{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        }
        
        .list p{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        color: var(--color-gray);
        margin-bottom: 16px;
        }
        .list img{
            margin-bottom: 30px;
        }
        .list li{
            padding-bottom: 30px;
        }
        .people{
        padding-top: 94px;
        padding-bottom: 94px;
        background: #F5F4FA;
        }
        .list li{
            background-color: #FFFFFF;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            }
            
            
            
            
            .ul-2{
                display: flex;
        justify-content: center; }

        .ul-2 li:not(:last-child){
            margin-right: 10px; }
            
.ul-2 li{
        box-shadow: none;
        padding-bottom: 0;
        }
.li-2 a{
    display: inline-flex;
            width: 44px;
            height: 44px;
             border-radius: 50%;
            justify-content: center;
            align-items: center;
            fill: #AFB1B8;
            transition-property: fill, background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            &:hover, &:focus{
                fill: white;
                background-color: #2196F3;
     }
        }
