img{
    display: block;}
.container{
    width: 1200px;
    padding-left: 15px;
     padding-right: 15px;
    margin: 0 auto; }
    
    .body{
        letter-spacing: 0.03em;
        color: var(--color-black);
    font-family: Roboto, sans-serif;}
    ul{
        list-style: none;
    }